body{
  background:purple;
}
form label{
   display:block;
    font-size:25px;
}

td {
  border: 3px solid;
  
  border-color: blue;
  text-align: center;
  font-size: 25px;
    background:purple;
  
}
  
    
